---
layout: default
title: Home
---

<div class="post">
	<h1>Czy tworzenie gier jest trudne? Jak zacząć? Jak wygląda utworzenie prostej gry?</h1>
	<p>Jeśli chcesz pobawić się w tworzenie gier, a nie wiesz jak zacząć lub też chciałbyś zobaczyć powstawanie gry na żywo, przyjdź 28 października do <a href="https://www.pixelretroshop.pl/">PixelRetroShop</a> (Wincentego 7, Wrocław). Napiszemy wspólnie grę w Rubym z użyciem biblioteki Gosu. Każdy może przyjść i&nbsp;zaproponować poprawkę. Możesz też przyjść z laptopem i pisać kod razem ze mną (za pomocą GitHub). 
	<div class="chefa-menuo">
		<a href="https://web.facebook.com/events/118552742160289" class="vizaghlibro">Facebook</a>
		<a href="https://www.pixelretroshop.pl/" class="loko">Miejsce</a>
		<a href="/o_hackatonach" class="ideo">O pomyśle</a>
		<a href="/bildoj/plakat1.jpg" class="afisho">Plakat</a>
	</div>
</div>

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | truncatewords: 30 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
